.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

.App-header {
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  /* width: 40%; */
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  /* padding: 2px 16px; */
}

.contantsButtonContainer {
  position: relative;
}
.contantsButton {
  position: absolute;
  bottom: 0;
  right: 0;
}

.activeSelect {
  color: red;
  font-weight: bold;
}

.modal {
  max-height: 100%;
  overflow: visible;
}

.datepicker-container {
  max-height: 100%;
  width: 100%;
}

/* .datepicker-modal {
  max-height: 100%;
  width: 100%;
  min-width: 100%;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
